#delivery img {
    width: 90%;
    height: 110%;
    border-radius: 5px;
}

#delivery h1 {
    font-size: 3rem;
    font-weight: bolder;
    color: #FF7804;
    margin-bottom: 10px;
}

#delivery h2 {
    font-size: 2.2rem;
    font-weight: bolder;
    color: #72b904;
    margin-bottom: 10px;
}

#delivery span {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 32px;
    color: #8D7A72;
    margin-bottom: 35px;
    text-align: justify;
}

#delivery {
    padding: 3% 0;
    background-color: #f8f9fa;
}

#delivery .row {
    margin: 0 8%;
}

.row .col {
    width: 47%;
}

#delivery a {
    padding: 8px 30px;
    background-color: transparent;
    text-decoration: none;
    font-size: 1.8rem;
    color: #73445E;
    font-weight: 500;
    padding-bottom: 12px;
    border: 3px solid #73445E;
    border-radius: 5px;
}

#delivery a:hover {
    background-color: orangered;
    color: white;
    border: none;
}

@media only screen and (max-width:600px){
    #delivery .row {
        text-align: center;
    }
    #delivery img {
        width: 100%;
    }

    #delivery .col {
        margin: 50px 0;
    }

    #delivery h1 {
        font-size: 2.8rem;
    }
    
    #delivery h2 {
        font-size: 2.1rem;
    }
    
    #delivery span {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width:767px) and (max-width:991px) {
    #delivery .row {
        text-align: center;
    }
    #delivery img {
        width: 100%;
    }

    #delivery .col {
        margin: 70px 0;
    }

}
