#blog .card {
    height: auto;
    width: 25vw;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 3px 5px #aaaaaa;
    padding-bottom: 20px;
}

#blog [src *='blog'] {
    width: auto;
    height: 220px;
}


#blog .card-title {
    margin-top: 20px;
}

#blog .card-text {
    margin-top: 10px;
}

#blog .fa-solid {
    font-size: 1.5rem;
    color: #FF5F24;
}

#blog .date {
    display: flex;
    justify-content: space-between;
    color: #8D7A72;
    font-size: 1.5rem;
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, 0.357);
    padding-bottom: 15px;
}

@media only screen and (max-width:576px) {
    #blog .row {
        margin: 0 5%;
    }

    #blog .card {
        width: auto;
    }

    #blog {
        margin-top: 10%;
        font-size: 2.9rem;
    }

    .arrow-design {
        width: auto;
        padding: 0px 35px;
        padding-top: 8px;
        margin-top: -8px;
    }

}

@media only screen and (max-width:767px) {
    #blog .row {
        margin: 0 5%;
    }

    #blog .card {
        width: auto;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    #blog .row {
        margin: 0 5%;
    }

    #blog .card {
        width: auto;
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    #blog .row {
        margin: 0 5%;
    }

    #blog .card {
        width: auto;
    }
}

@media only screen and (min-width:1200px) {
    #blog .row {
        margin: 0 5%;
    }

    #blog .card {
        width: auto;
    }
}