#cartPage {
    position: fixed;
    top: 93px;
    right: 10px;
    width: 30%;
    transform: scale(1);
    max-height: 75vh;
    padding: 20px 5px;
    overflow-y: auto;
    padding-top: 30px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    animation: cart .3s;
    animation-direction: alternate;
    /* display: none; */
}

@keyframes cart {
    from {
        top: -50%
    }

    to {
        top: 93px
    }
}

#cartPage .cart-item {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 1fr;
    border-bottom: 1px solid rgba(0, 0, 0, 0.666);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#result {
    display: none;
    right: -22px;
    top: 3px;
}

.close-cart-btn {
    top: 2%;
    right: 2%;
}

.cart-item h6 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #130F40;
}

.title-price {
    padding-top: 25px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #8D7A72;
    text-align: left;
}

.title-price p {
    margin-left: 25px;
}

.title-price .fa-indian-rupee-sign {
    font-size: 1.2rem;
}

.quantity {
    text-align: left;
    padding-top: 15px;
}

.quantity span {
    font-size: 1.3rem;
    font-weight: 500;
    color: #000;
    margin-left: 25px;
}

#cartPage img {
    width: 115px;
    height: auto;
}

#cartPage .cancel {
    padding-top: 15px;
}

#cartPage .fa-trash {
    font-size: 1.7rem;
    color: #73445E;
    cursor: pointer;
}

#cartPage .close-cart-btn {
    padding: 0 5px 5px 5px;
    top: 10px;
    right: 10px;
}

.cart-footer {
    text-align: center;
}

.subtotal {
    font-size: 1.8rem;
    font-weight: 500;
    color: #8D7A72;
    margin-bottom: 15px;
}

.empty-msg {
    text-align: center;
    font-size: 2.5rem;
    padding: 10px;
    padding-top: 0;
    font-weight: bold;
    color: #130F40;
}

#checkout {
    padding: 5px 20px;
    width: 95%;
    margin-left: auto;
    background-color: transparent;
    font-size: 1.7rem;
    font-weight: 500;
    color: #73445E;
    border: 2px solid #73445E;
    border-radius: 5px
}

#checkout:hover {
    background-color: orangered;
    color: white;
    border: 2px solid #73445E;
}

#cartPage .close-cart-btn {
    position: absolute;
    text-align: center;
    cursor: pointer;
    background: #FF7804;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 0 5px 5px 5px;
    top: 10px;
    right: 10px;
    font-size: 1.7rem;
    color: white;
}